@use 'var';
@use 'util';
@use 'mobile';

@mixin flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin image-container {
    max-width: 100%;
    height: auto;
    display: block;
}

#home {
    position: sticky;
    top: 0;
    opacity: 0.9;
    z-index: 900;
    background-color: var.$primary-color;
    padding: var.$spacing-xs;

    .container {
        @include flex-container();

        .logo {
            max-width: 90px;

            img {
                @include image-container();
            }

            &:hover {
                animation: logo .3s ease-in-out alternate 4;
            }
        }

        @keyframes logo {
            from {
                transform: rotate(-30deg);
            }
            to {
                transform: rotate(60deg);
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
    
            a {
                display: inline-block;
                font-size: var.$font-md;
                padding: var.$spacing-sm var.$spacing-xl;
                color: var.$secondary-color;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: var.$text-color;
                    font-weight: 400;
                    background-color: var.$secondary-color;
                }
            }
        }
    }
}

#hero {
    height: 100vh;

    .main-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: var.$spacing-lg;

        .heading {
            h1 {
                font-size: var.$font-xxl;
            }
            p {
                margin-bottom: var.$spacing-md;
                font-size: var.$font-md;
            }
        }
        .heading-img {
            border-radius: var.$border-radius-md;
            overflow: hidden;
            max-width: 450px;

            img {
                @include image-container();
            }
        }
    }
}

#about-us {
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .story-card {
            min-width: 50%;
            padding: var.$spacing-sm;

            p {
                font-size: var.$font-md;
            }
        }

        .story-image {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
            width: 300px;
            height: 500px;
            overflow: hidden;
            
            img {
                @include image-container();
            }
        }
    }
}

#menu {
    background-color: var.$primary-color;
    margin: var.$spacing-lg 0;
    padding: var.$spacing-lg;

    .menu-headline {
        margin-bottom: var.$spacing-lg;
        color: var.$secondary-color;

        p {
            font-size: var.$font-md;
            text-align: center;
        }
    }
    .menu-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        overflow: hidden;
        gap: 2rem;

        .coffee-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: var.$secondary-color;
            border-radius: var.$border-radius-md;
            box-shadow: 0 5px 10px #333;
            padding: var.$spacing-lg;

            &:last-of-type {
                grid-column: span 2;
            }

            h3 {
                font-size: var.$font-md;
                margin: var.$spacing-md 0;
            }

            .coffee-menu {
                display: flex;
                align-items: center;

                img {
                    max-width: 300px;
                    padding: var.$spacing-md;
                }

                li {
                    font-size: var.$font-md;
                }
            }
        }
    }
}

#visit-us {

    h3 {
        font-size: var.$font-lg;
        margin: var.$spacing-xl 0;
    }

    p {
        font-size: var.$font-md;
        text-indent: 2rem;
    }

    .container {
        display: flex;
        gap: 5rem;

        .address-section {

            address {
                iframe {
                    margin-top: var.$spacing-lg;
                    box-shadow: 0 4px 10px var.$text-color;
                }
            }
        }
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var.$spacing-lg;
    height: 10vh;
    font-size: var.$font-sm;
    color: var.$secondary-color;
    background-color: var.$primary-color;
}