@use 'var';
@use 'util';

@mixin flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin image-container {
    max-width: 100%;
    height: auto;
    display: block;
}

#home {
    position: sticky;
    top: 0;
    opacity: 0.9;
    z-index: 900;
    background-color: var.$primary-color;
    padding: var.$spacing-xs;

    .container {
        @include flex-container();

        .logo {
            max-width: 90px;

            img {
                @include image-container();
            }

            &:hover {
                animation: logo .3s ease-in-out alternate 4;
            }
        }

        @keyframes logo {
            from {
                transform: rotate(-30deg);
            }
            to {
                transform: rotate(60deg);
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
    
            a {
                display: inline-block;
                font-size: var.$font-md;
                padding: var.$spacing-sm var.$spacing-xl;
                color: var.$secondary-color;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: var.$text-color;
                    font-weight: 400;
                    background-color: var.$secondary-color;
                }
            }
        }
    }
}

#hero {
    height: 100vh;

    .main-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: var.$spacing-lg;

        .heading {
            h1 {
                font-size: var.$font-xxl;
            }
            p {
                margin-bottom: var.$spacing-md;
                font-size: var.$font-md;
            }
        }
        .heading-img {
            border-radius: var.$border-radius-md;
            overflow: hidden;
            max-width: 450px;

            img {
                @include image-container();
            }
        }
    }
}

#about-us {
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .story-card {
            min-width: 50%;
            padding: var.$spacing-sm;

            p {
                font-size: var.$font-md;
            }
        }

        .story-image {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
            width: 300px;
            height: 500px;
            overflow: hidden;
            
            img {
                @include image-container();
            }
        }
    }
}